<form id="searchform">
  <input id="search" class="indexsearch" type="search" placeholder="Search...">
</form>
<h2 class="topartisttitle">Top Artists:</h2>
<div class="topartistwrapper">
  <% @artists.get_all_artists.each do |artist|%>
    <div class="topartist">
      <figure>
        <% @urlname = artist["name"] %>
        <a href="/artist/<%= @urlname %>">
          <img class="artistpic" src="<%= artist["image"][2]["#text"] %>" alt="artistpic">
          <figcaption class="artistname"><%= artist["name"] %></figcaption>
        </a>
      </figure>
    </div>
  <% end %>
</div>
<script>
  $("#searchform").submit(function(){
    event.preventDefault();
    search();
  })
  function search(){
    var query = $("#search").val().toLowerCase().replace(/ /g,"+");
    window.location.replace("/search/"+query);
  }
</script>
