<a class="home" href="/">&lt;&lt;Home</a>
<form id="searchform">
  <input id="search" class="indexsearch" type="search" placeholder="Search...">
</form>
<div class="topartistwrapper">
  <% @artists.each do |result|%>
    <div class="topartist">
      <figure>
        <% @urlname = result["name"]%>
        <a href="/artist/<%= @urlname %>">
          <img class="artistpic" src="<%= result["image"][2]["#text"] %>" alt="artistpic">
          <figcaption class="artistname"><%= result["name"] %></figcaption>
        </a>
      </figure>
    </div>
  <% end %>
  <% if @artists.length == 0%>
    <h2 class="showartistinfo">No Artist Found</h2>
  <% end %>
</div>
<script>
  $("#searchform").submit(function(){
    event.preventDefault();
    search();
  })
  function search(){
    var query = $("#search").val().toLowerCase().replace(/ /g,"+");
    window.location.replace("/search/"+query);
  }
</script>
